<div class="post" data-testid="page-container" >
  <div class="post-header">
    <h1 class="title" data-testid="post-title">
      {{ post.title }}
    </h1>
    <div class="post-info">
      <p class="info" data-testid="team-name">
        Team: {{ post.author.team.name }}
      </p>
      <p class="info" data-testid="author-username">
        {{ post.author.username }}
      </p>
      <p class="info" data-testid="post-date">
        {{ post.created_at | date : "dd/MM/yyyy HH:mm:ss" }}
      </p>
    </div>
  </div>
  <div class="content-container">
    <div class="post-content">
      <p class="post-excerpt" data-testid="post-excerpt">
        <span [innerText]="post.content_excerpt"></span>
        <span
          *ngIf="post.content_excerpt.split(' ').length === 200"
          (click)="detailView()"
          class="link"
          >Show More</span
        >
      </p>
    </div>
  </div>
  <div class="post-info">
    <div class="likes-comments">
      <div
        class="likes"
        (click)="likesIsOpen = !likesIsOpen"
        cdkOverlayOrigin
        #likesOverlay="cdkOverlayOrigin"
      >
        <p data-testid="like-count">{{ totalLikes }} Likes</p>
      </div>
      <div class="comments" (click)="detailView()">
        <p data-testid="comment-count">{{ commentCount }} Comments</p>
      </div>
    </div>
    <div class="post-interaction">
      <div *ngIf="user" class="like">
        <fa-icon
          data-testid="like-button"
          *ngIf="postIsLiked"
          (click)="unlikePost()"
          class="liked"
          [icon]="solidHeartIcon"
          size="2x"
        ></fa-icon>
        <fa-icon
          data-testid="unlike-button"
          *ngIf="!postIsLiked"
          (click)="likePost()"
          class="liked"
          [icon]="regularHeartIcon"
          size="2x"
        ></fa-icon>
      </div>
      <div *ngIf="user">
        <fa-icon
          data-testid="comment-button"
          (click)="detailView()"
          [icon]="commentIcon"
          size="2x"
        ></fa-icon>
      </div>
      <div *ngIf="hasEditPermission()">
        <fa-icon
          [icon]="editIcon"
          size="2x"
          (click)="editView()"
          data-testid="edit-button"
        ></fa-icon>
      </div>
      <div *ngIf="hasEditPermission()">
        <fa-icon
          data-testid="delete-button"
          [icon]="trashIcon"
          size="2x"
          (click)="openDeleteDialog()"
        ></fa-icon>
      </div>
    </div>
  </div>
  <ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="likesOverlay"
  [cdkConnectedOverlayOpen]="likesIsOpen"
>
  <app-list-likes
    [likesResponse]="likesResponse"
    (pageChange)="getLikes($event)"
  ></app-list-likes>
</ng-template>
</div>
