<div class="create-post-container">
  <div class="back-home-container" [routerLink]="['/']">
    <fa-icon [icon]="backIcon" size="2x"></fa-icon>
    <p class="back-text">Back</p>
  </div>
  <form class="form" [formGroup]="createPostForm" (ngSubmit)="createPost()">
    <div class="title-container">
      <div class="title-input-container">
        <label for="title" class="labels">Title*:</label>
        <input
          [class.valid]="
            createPostForm.get('title')?.valid &&
            createPostForm.get('title')?.touched
          "
          [class.invalid]="
            createPostForm.get('title')?.invalid &&
            createPostForm.get('title')?.touched
          "
          class="title-input"
          type="text"
          formControlName="title"
          placeholder="Enter the title of the post"
          id="title"
          name="title"
        />
      </div>
      <div
        *ngIf="
          createPostForm.get('title')?.invalid &&
          createPostForm.get('title')?.touched
        "
      >
        <small
          *ngIf="
            createPostForm.get('title')?.hasError('required') ||
            createPostForm.get('title')?.hasError('fieldIsNotEmpty')
          "
          class="error-msg"
          >*Title cannot be empty</small
        >
        <small
          *ngIf="createPostForm.get('title')?.hasError('maxlength')"
          class="error-msg"
          >*Title cannot be longer than 50 characters</small
        >
      </div>
    </div>
    <div class="content-container">
      <label for="content" class="labels">Content*:</label>
      <textarea
        [class.valid]="
          createPostForm.controls['content'].valid &&
          createPostForm.controls['content'].touched
        "
        [class.invalid]="
          createPostForm.controls['content'].invalid &&
          createPostForm.controls['content'].touched
        "
        class="content-input"
        placeholder="Enter the content of the post"
        formControlName="content"
        id="content"
        name="content"
      >
      </textarea>
      <div
        *ngIf="
          createPostForm.get('content')?.invalid &&
          createPostForm.get('content')?.touched
        "
      >
        <small
          *ngIf="
            createPostForm.get('content')?.hasError('required') ||
            createPostForm.get('content')?.hasError('fieldIsNotEmpty')
          "
          class="error-msg"
          >*Content cannot be empty</small
        >
        <small
          *ngIf="createPostForm.get('content')?.hasError('maxlength')"
          class="error-msg"
          >*Content cannot be longer than 10.000 characters</small
        >
      </div>
    </div>
    <fieldset class="permission-container">
      <legend class="permission-legend">Permissions</legend>
      <div class="permission-titles">
        <h4>Category</h4>
        <h4>Access</h4>
      </div>
      <div class="permission-option">
        <p class="category-name">Public Permission</p>
        <select
          id="public"
          formControlName="public_permission"
          class="access-options"
          name="public_permission"
        >
          <option
            *ngFor="let option of permissionOptions"
            [value]="option.value"
          >
            {{ option.label }}
          </option>
        </select>
      </div>
      <div class="permission-option">
        <p class="category-name">Authenticated Permission</p>
        <select
          id="public"
          formControlName="authenticated_permission"
          class="access-options"
          name="authenticated_permission"
        >
          <option
            class="form-options"
            *ngFor="let option of permissionOptions"
            [value]="option.value"
          >
            {{ option.label }}
          </option>
        </select>
      </div>
      <div class="permission-option">
        <p class="category-name">Team Permission</p>
        <select
          id="public"
          formControlName="team_permission"
          class="access-options"
          name="team_permission"
        >
          <option
            *ngFor="let option of permissionOptions"
            [value]="option.value"
          >
            {{ option.label }}
          </option>
        </select>
      </div>
      <div class="permission-option">
        <p class="category-name">Author Permission</p>
        <select
          id="public"
          formControlName="author_permission"
          class="access-options"
          name="author_permission"
        >
          <option
            *ngFor="let option of permissionOptions"
            [value]="option.value"
          >
            {{ option.label }}
          </option>
        </select>
      </div>
    </fieldset>
    <div class="buttons-container">
      <button class="submit-button" type="submit">Save</button>
      <button class="cancel-button" type="button" routerLink="/">Cancel</button>
    </div>
  </form>
</div>
