<header data-testid="header">
  <a href="" data-testid="home-button">
    <div class="home">
      <div class="logo-img">
        <img
          src="./../../../assets/avanzatech-logo.jpg"
          alt="logo-avanzatech"
          class=""
        />
      </div>
      <p class="header-text">AvanzaBlog</p>
    </div>
  </a>
  <div class="header-nav">
    <div *ngIf="!(isLoggedIn$ | async)">
      <button data-testid="login-button"
        class="header-button"
        routerLink="/auth/login"
        class="header-text"
      >
        LogIn
      </button>
    </div>
    <div *ngIf="!(isLoggedIn$ | async)">
      <button routerLink="/auth/register" class="header-text" data-testid="register-button">Register</button>
    </div>
    <div *ngIf="isLoggedIn$ | async">
      <p class="header-text" data-testid="user-username">welcome {{ (userProfile$ | async)?.username }}</p>
    </div>
    <div *ngIf="isLoggedIn$ | async" class="log-out" data-testid="logout-button">
      <fa-icon [icon]="logOutIcon" size="2x" (click)="showLogoutPopup = true">
      </fa-icon>
    </div>
  </div>
</header>
<div *ngIf="showLogoutPopup" class="logout-popup-container">
  <div class="logout-popup-info">
    <div>
      <p class="logout-text">Are you sure you want to log out?</p>
    </div>
    <div class="logout-buttons">
      <button class="logout-button" (click)="logOut()">Log Out</button>
      <button class="logout-button" (click)="showLogoutPopup = false">
        Cancel
      </button>
    </div>
  </div>
</div>
<router-outlet />
