<header data-testid="header">
    <div class="home" (click)="getPosts()">
      <div class="logo-img">
        <img
          src="./../../../assets/avanzatech-logo.jpg"
          alt="logo-avanzatech"
          class=""
        />
      </div>
      <p class="header-text">AvanzaBlog</p>
    </div>
  <div class="header-nav">
    <div *ngIf="!(isLoggedIn$ | async)">
      <button data-testid="login-button"
        class="header-button"
        routerLink="/auth/login"
        class="header-text"
      >
        LogIn
      </button>
    </div>
    <div *ngIf="!(isLoggedIn$ | async)">
      <button routerLink="/auth/register" class="header-text" data-testid="register-button">Register</button>
    </div>
    <div *ngIf="isLoggedIn$ | async">
      <p class="header-text" data-testid="user-username">welcome {{ (userProfile$ | async)?.username }}</p>
    </div>
    <div *ngIf="isLoggedIn$ | async" class="log-out" (click)="openDialog()">
      <fa-icon [icon]="logOutIcon" size="2x" data-testid="logout-button">
      </fa-icon>
    </div>
  </div>
</header>
<router-outlet />
