<div class="post-detail-page">
  <div class="back-home-container" [routerLink]="['/']">
    <fa-icon [icon]="backIcon" size="2x"></fa-icon>
    <p class="back-text">Back</p>
  </div>
  <div class="post-container" *ngIf="post && requestStatus === 'success'">
    <div class="post-header">
      <h1 class="title">
        {{ post.title }}
      </h1>
      <div class="post-info">
        <p class="info">Team: {{ post.author.team.name }}</p>
        <p class="info">
          {{ post.author.username }}
        </p>
        <p class="info">
          {{ post.created_at | date : "dd/MM/yyyy HH:mm:ss" }}
        </p>
      </div>
    </div>
    <div class="content-container">
      <p class="post-content" [innerText]="post.content"></p>
    </div>
    <div class="likes-container">
      <p>{{ likeCount }} Likes</p>
    </div>
    <div class="comments-container">
      <div class="comments-tile">
        <h1>Comments</h1>
      </div>
      <div *ngFor="let comment of comments" class="list-of-comments">
        <div class="comment-header">
          <div class="comment-info">
            <p class="info">{{ comment.user.username }}</p>
          </div>
          <p class="info">
            {{ comment.created_at | date : "dd/MM/yyyy HH:mm:ss" }}
          </p>
        </div>
        <div class="comment-content-container">
          <p class="comment-content">
            {{ comment.content }}
          </p>
        </div>
      </div>
      <div>
        <div *ngIf="commentsTotalPages > 1" class="comments-navigation">
          <div *ngIf="commentsPreviousPage">
            <fa-icon
              class="navigation-icon"
              [icon]="previousIcon"
              size="2x"
              (click)="getComments(commentsPreviousPage)"
            ></fa-icon>
          </div>
          <p>Page {{ commentsCurrentPage }} of {{ commentsTotalPages }}</p>
          <div *ngIf="commentsNextPage">
            <fa-icon
              class="navigation-icon"
              [icon]="nextIcon"
              size="2x"
              (click)="getComments(commentsNextPage)"
            ></fa-icon>
          </div>
        </div>
      </div>
    </div>
    <div class="add-comment-container" *ngIf="user !== null">
      <h4 class="title">Add new comment:</h4>
      <div class="form-container">
        <form class="form" [formGroup]="commentForm" (ngSubmit)="addComment()">
          <textarea
            [class.invalid]="commentForm.invalid && commentFormSubmitted"
            formControlName="comment"
            class="content-input"
            id="comment"
            name="comment"
            rows="4"
            cols="50"
            maxlength="1000"
            placeholder="Escribe tu comentario aquí..."
          ></textarea>
          <div *ngIf="commentForm.invalid && commentFormSubmitted">
            <small
              *ngIf="commentForm.get('comment')?.hasError('required') || commentForm.get('comment')?.hasError('pattern')"
              class="error-msg"
              >*Comment cannot be empty</small
            >
            <small
              *ngIf="commentForm.get('comment')?.hasError('maxlength')"
              class="error-msg"
              >*Comment cannot be more than 1000 characters</small
            >
          </div>
          <div class="form-button-container">
            <button class="submit-button" type="submit">Submit</button>
            <button class="cancel-button" type="button" (click)="cleanForm()">
              Cancel
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <app-post-not-found *ngIf="!post && requestStatus === 'error'"></app-post-not-found>
</div>
